<%= simple_form_for @pokemon do |f| %>
	<div class="row">
		<div class="col-lg-5">
			<div class="form-group ">

				<div class="col-lg-8"><%= f.input :number, label: 'N°', class:'form-control' %></div>
			</div>
			<div class="form-group ">

				<div class="col-lg-8"><%= f.input :name, label: 'Nom', class:'form-control' %></div>
			</div>
			<div class="form-group ">

				<div class="col-lg-8"><%= f.association :type, label: 'Type', class:'form-control' %></div>
			</div>
			<div class="form-group ">

				<div class="col-lg-8"><%= f.association :moves, label: 'Attaque',
																as: :check_boxes,
																item_wraper_tag: :label,
																item_wraper_class: :'checkbox_inline',
																class:'form-control' %></div>
			</div>
			<div class="form-group ">

				<div class="col-lg-8"><%= f.input :level, label: 'Niveau', class:'form-control' %></div>
			</div>
			<div class="form-group ">

				<div class="col-lg-8"><%= f.input :health_points, label: 'PV', class:'form-control' %></div>
			</div>

			<div class="form-group ">

				<div class="col-lg-8"><%= f.input :avatar, as: :file %></div>
			</div>
		</div>
	</div>

	<%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
<% end  %>
